@import '../../../components/style/themes/default';
@import '../../../components/style/mixins/index';

.@{c7n-pro-prefix}-pagination {
  line-height: 0.3rem;
  > * {
    vertical-align: top;
  }
  .@{c7n-pro-prefix}-select {
    text-align: right;
    border: none;
    &-wrapper {
      width: 0.8rem;
    }
  }
  &-page-info {
    margin: 0 0.2rem;
  }
  &-pager {
    height: @btn-circle-size;
  }
}
