components/**/*.js
components/**/*.jsx
components/*/__tests__/type.tsx
components-pro/**/*.js
components-pro/**/*.jsx
components-pro/*/__tests__/type.tsx
components-pro/performance-table/*.tsx
components-pro/performance-table/utils/*.ts
components-pro/performance-table/utils/*.tsx
components-pro/rich-text/utils/*.tsx
components-dataset/**/*.js
components-dataset/**/*.jsx
components-shared/**/*.js
components-shared/**/*.jsx
!components/*/__tests__/**/*.js
!components/*/demo/*
!components-pro/*/__tests__/**/*.js
!components-pro/*/demo/*
components/form/__tests__/type.js
site/theme/mock/performance-data/*.js
!.*.js
tests/jest/*
gulpfile.js
typings
es/**/*
lib/**/*
pro/**/*
dataset/**/*
shared/**/*
node_modules
_site
dist
**/*.d.ts
tools
.jest-cache
.cache
public
components-pro/*/__tests__/*.test.js
webpack.config.js
tests/**/*.js
site/**/*
scripts/**/*
index-pro-with-locales.js
index-with-locales.js
outer-scripts/**/*
