components/**/*.js
components/**/*.jsx
components/*/__tests__/type.tsx
components-pro/**/*.js
components-pro/**/*.jsx
components-pro/*/__tests__/type.tsx
components-pro/performance-table/*.tsx
components-pro/performance-table/utils/*.ts
components-pro/performance-table/utils/*.tsx
!components/*/__tests__/**/*.js
!components/*/demo/*
!components-pro/*/__tests__/**/*.js
!components-pro/*/demo/*
!.*.js
tests/jest/*
gulpfile.js
typings
es/**/*
lib/**/*
pro/**/*
node_modules
_site
dist
**/*.d.ts
tools
.jest-cache
public
