*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.json.gzip
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
dist
/lib
/es
/pro
/dataset
/shared
/public
elasticsearch-*
config/base.yaml
/.vscode/
/coverage
yarn.lock
components/**/*.js
components/**/*.jsx
components/**/*.d.ts
components/style/core/fonts
components-pro/**/*.js
components-pro/**/*.jsx
components-dataset/**/*.jsx
components-dataset/**/*.js
components-dataset/**/*.d.ts
!components-dataset/data-set/__tests__/**/*.js
!components-dataset/axios/_helpers/*
components-shared/**/*.jsx
components-shared/**/*.js
components-shared/**/*.d.ts
#components-pro/**/*.d.ts
!components/rc-components/**/*.jsx
components/rc-components/dialog/*.jsx
components/rc-components/dialog/*.js
!components/**/__tests__/*.js
!components/**/__tests__/*.js.snap
!components-pro/**/__tests__/*.js
!components-pro/**/__tests__/*.js.snap
/.history
jest_*
.jest-cache/
components/rc-components/tree/**/*.jsx
components/rc-components/tree/**/*.js
components/form/__tests__/type.js
site/theme/mock/performance-data/*.js
.eslintcache
