@import "../../style/themes/default";
@import "../../style/mixins/index";

@input-affix-width: .19rem;

// size mixins for input
.input-lg() {
  // padding: @input-padding-vertical-lg @input-padding-horizontal-lg;
  font-size: @font-size-lg;
}

.input-sm() {
  font-size: @font-size-sm;
}

// input status
// == when focus or actived
.active(@color: @outline-color) {
  border-color: ~`colorPalette("@{color}", 5)`;
  outline: 0;
  // box-shadow: 0 0 @outline-blur-size @outline-width fade(@color, 20%);
}

// == when hoverd
.hover(@color: @input-hover-border-color) {
  border-color: ~`colorPalette("@{color}", 5)`;
}

.disabled() {
  opacity: 1;
  color: @input-disabled-color;
  &:hover {
    .hover(@input-baseline-color);
  }
}

// Basic style for input
.input() {
  &-group:not(&-group-compact) &-wrapper {
    display: inline-grid;
  }
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none;
  border: none;
  height: .36rem;
  padding: @input-padding-vertical-base @input-padding-horizontal;
  .placeholder(); // Reset placeholder
  transition: all .3s;

  // input-wrapper
  &-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  // input-rendered
  &-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  &-rendered-wrapper {
    width: 100%;
    display: block;
    box-sizing: content-box;
    position: relative;
  }

  &-rendered {
    position: relative;
    width: 100%;
    display: inline-block;
  }

  &-icon &-icon-copy {
    display: none;
  }

  &-has-copy {
    padding-right: @icon-font-size-base + .02rem;
  }

  &-has-value &-icon {
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    &-copy {
      display: inline-block;
    }
  }

  &-suffix,
  &-prefix,
  &-icon {
    position: absolute !important;
    top: 0;
    bottom: 0;
    min-width: .24rem;
    margin: auto 0;
    padding: 0 .02rem;
    text-align: center;
    display: flex;
    align-items: center;
  }
  &-suffix,
  &-prefix {
    color: rgba(0, 0, 0, 0.26);
  }
  &-suffix {
    right: 0;
  }
  &-prefix {
    left: 0;
  }

  &-has-prefix & {
    padding-left: 0;
  }
  .label;
  .border;

  &-placeholder {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    color: #bfbfbf;
  }

  &-has-value &-placeholder {
    display: none;
  }

  &-length-info {
    position: absolute;
    right: 0;
    color: @input-baseline-color;
    font-size: @font-size-sm;
    letter-spacing: .02rem;
    margin-top: .02rem;
  }

  &:hover {
    .hover();
  }

  &:focus {
    .active();
  }

  &-disabled {
    .disabled();
  }

  &-disabled &,
  &-disabled &-placeholder,
  &-disabled &-prefix,
  &-disabled &-suffix {
    color: @input-disabled-color;
    cursor: not-allowed;
  }

  .input-underline;

  // Reset height for `textarea`s
  textarea& {
    max-width: 100%; // prevent textearea resize from coming out of its container
    height: auto;
    vertical-align: bottom;
    transition: all .3s, height 0s;
    min-height: @input-height-base;
  }

  // Size
  &-lg {
    .input-lg();
  }
  &-lg &-has-copy {
    padding-right: @icon-font-size-lg + .02rem;
  }
  &-sm {
    .input-sm();
  }
  &-sm &-has-copy {
    padding-right: @icon-font-size-sm + .02rem;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 10rem @input-wrapper-bg inset;
    width: ~"calc(100% - .04rem)";
    margin: .02rem;
    height: .32rem;
    text-indent: -0.02rem;
    border-radius: .04rem;
  }

  textarea&:-webkit-autofill {
    height: auto;
  }
}

.border() {
  &-has-border&-wrapper:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: @border-width-base @border-style-base @input-border-color;
    border-radius: .04rem;
  }

  &-has-border&-wrapper:hover:before {
    border-color: @input-color;
  }

  &-has-border&-focused&-wrapper:before,
  .has-error &-wrapper:before {
    border-width: .02rem;
  }
  &-has-border&-focused&-wrapper:before {
    border-color: @primary-color;
  }
  .has-error &-has-border&-wrapper:before {
    border-color: @error-color;
  }
  &-has-border&-disabled:before {
    border-style: dashed;
    border-color: @input-border-color !important;
  }
}

.label() {
  &-label {
    color: @label-color;
    padding: 0;
    transform-origin: inherit;
    transition: inherit;
    pointer-events: none;
    line-height: 34 / 13; // <-- fieldHeight / fontSize
    .is-required &:after {
      display: inline-block;
      margin-left: .04rem;
      content: "*";
      font-family: SimSun;
      line-height: 1;
      font-size: @font-size-base;
      color: @label-required-color;
      width: .08rem;
    }
    &-wrapper {
      position: absolute;
      padding: 0 .05rem;
      margin-left: -.05rem;
      top: 0;
      height: 0;
      left: @input-padding-horizontal-base;
      border-top: .02rem @border-style-base transparent;
      transform-origin: .1rem -230%;
      transition: all 0.2s @ease-out;
    }
  }
  &-has-prefix &-label-wrapper {
    left: 0;
  }
  &-has-value &-label-wrapper,
  &-focused &-label-wrapper,
  &:-webkit-autofill + &-label-wrapper {
    transform: scaleX(.8);
    border-top-color: @component-background;
  }
  &-has-value &-label,
  &-focused &-label,
  &:-webkit-autofill + &-label-wrapper &-label {
    transform: scaleY(.8);
  }

  &-focused &-label {
    color: @outline-color;
  }

  .has-error &-label {
    color: @error-color;
  }
}

.input-underline() {
  // underline
  //default underline
  &-underline {
    position: absolute;
    height: 0;
    width: 100%;
    border-bottom: @border-width-base @border-style-base @input-baseline-color;
  }

  &-ripple {
    position: absolute;
    left: 0;
    width: 100%;
    transform-origin: 50%;
    transform: scaleX(0.5);
    opacity: 0;
    border-bottom: .02rem @border-style-base @primary-color;
    transition: border-color 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
    height: 0;
  }
  //disabled underline
  &-disabled &-underline {
    border-bottom: @border-width-base dotted rgba(0, 0, 0, 0.42);
  }
  // focused underline
  &-focused &-underline &-ripple {
    opacity: 1;
    transform: scaleX(1);
    transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 100ms cubic-bezier(0.25, 0.8, 0.25, 1), border-color 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

// label input
.input-group(@inputClass) {
  position: relative;
  display: inline-block;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  // Undo padding and float of grid classes
  &[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }

  > [class*="col-"] {
    padding-right: .08rem;
    &:last-child {
      padding-right: 0;
    }
  }

  &-addon,
  &-wrap,
  > .@{inputClass} {
    display: inline-block;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  &-addon,
  &-wrap {
    width: .01rem; // To make addon/wrap as small as possible
    white-space: nowrap;
    vertical-align: middle;
  }

  &-wrap > * {
    display: block !important;
  }

  .@{inputClass} {
    width: 100%;
    margin-bottom: 0;
    &:focus {
      z-index: 1; // Fix https://gw.alipayobjects.com/zos/rmsportal/DHNpoqfMXSfrSnlZvhsJ.png
    }
  }

  &-addon {
    font-size: @font-size-base;
    font-weight: normal;
    line-height: 1;
    color: @input-color;
    text-align: center;
    background-color: @input-addon-bg;
    border: @border-width-base @border-style-base @input-baseline-color;
    border-radius: @border-radius-base;
    position: relative;
    transition: all .3s;

    // Reset Select's style in addon
    .@{c7n-prefix}-select {
      margin: -(@input-padding-vertical-base + .01rem) (-@input-padding-horizontal-base); // lesshint spaceAroundOperator: false

      .@{c7n-prefix}-select-selection {
        background-color: inherit;
        margin: -.01rem;
        border: @border-width-base @border-style-base transparent;
        box-shadow: none;
      }

      &-open,
      &-focused {
        .@{c7n-prefix}-select-selection {
          color: @primary-color;
        }
      }
    }

    // Expand addon icon click area
    > i:only-child:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  // Reset rounded corners
  > .@{inputClass}:first-child,
  &-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    // Reset Select's style in addon
    .@{c7n-prefix}-select .@{c7n-prefix}-select-selection {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  > .@{inputClass}-affix-wrapper {
    &:not(:first-child) .@{inputClass} {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) .@{inputClass} {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &-addon:first-child {
    border-right: 0;
  }
  &-addon:last-child {
    border-left: 0;
  }

  > .@{inputClass}:last-child,
  &-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    // Reset Select's style in addon
    .@{c7n-prefix}-select .@{c7n-prefix}-select-selection {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  // Sizing options
  &-lg .@{inputClass},
  &-lg > &-addon {
    .input-lg();
  }

  &-sm .@{inputClass},
  &-sm > &-addon {
    .input-sm();
  }
  &-lg .@{c7n-prefix}-select-selection--single {
    height: @input-height-lg;
  }

  &-sm .@{c7n-prefix}-select-selection--single {
    height: @input-height-sm;
  }

  .@{inputClass}-affix-wrapper {
    width: 100%;
    float: left;
  }

  &&-compact {
    display: block;
    white-space: nowrap;
    .clearfix;
    .@{c7n-prefix}-input-has-border:before,
    .@{c7n-prefix}-select-has-border:before {
      border-style: @border-style-base;
    }
    > * {
      vertical-align: top;
      float: none;
      display: inline-block;
      &:not(:first-child) {
        .@{c7n-prefix}-input-has-border,
        .@{c7n-prefix}-select-has-border,
        &.@{c7n-prefix}-input-has-border,
        &.@{c7n-prefix}-select-has-border {
          margin-left: -.01rem;
          &:before {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
      &:not(:last-child) {
        .@{c7n-prefix}-input-has-border:before,
        .@{c7n-prefix}-select-has-border:before,
        &.@{c7n-prefix}-input-has-border:before,
        &.@{c7n-prefix}-select-has-border:before {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .@{inputClass} {
      float: none;
      z-index: auto;
    }
  }
}

.input-affix-wrapper(@inputClass) {
  position: relative;
  display: inline-block;
  width: 100%;

  .@{inputClass} {
    z-index: 1;
  }

  &:hover .@{inputClass}:not(.@{inputClass}-disabled) {
    .hover();
  }

  .@{inputClass}-prefix,
  .@{inputClass}-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    line-height: 0;
    color: @input-color;
    :not(.anticon) {
      line-height: @line-height-base;
    }
  }

  .@{inputClass}-suffix {
    right: @input-padding-horizontal-base + .01rem;
  }

  .@{inputClass}:not(:first-child) {
    padding-left: @input-padding-horizontal-base + @input-affix-width;
  }

  .@{inputClass}:not(:last-child) {
    padding-right: @input-padding-horizontal-base + @input-affix-width;
  }
}
