@import '../../../components/style/themes/default';
@import '../../text-field/style/mixin';

@textarea-prefix: ~'@{c7n-pro-prefix}-textarea';

.@{textarea-prefix} {
  .input;

  &,
  &-placeholder {
    padding: @input-padding-horizontal;
  }

  &-invalid& {
    border-color: @error-color;
  }
}
