@import '../../../components/style/themes/default';

@secretField-prefix-cls: ~'@{c7n-pro-prefix}-secret-field';

.@{secretField-prefix-cls} {
  &-modal {
    height: 2.4rem;
    &-btns {
      text-align: right;
      padding: 0.1rem 0;
    }
    &-raised-btn:hover {
      border-color: @input-border-color;
    }
    &-verify-btn {
      width: 1.1rem;
    }
  }
}
